<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
 
throwExceptions="false"
internalLogLevel="Off" internalLogFile="nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <!--define various log targets-->
  <targets>

    <target xsi:type="Database" name="database" 
              dbProvider="System.Data.SqlClient">
      <connectionString>${var:ConnectionStrings}</connectionString>
      <commandText>
        insert into Tb_nlog (
        Application, Logged, Level, Message,
        Logger, CallSite
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite
        );
      </commandText>
      <parameter name="@application" layout="WebApi" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
    </target>



    
  </targets>

  <rules>

    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>


</nlog>